/* General styles for the body */
body {
    font-family: 'Open Sans', sans-serif;  /* Use a readable, sans-serif font */
    font-size: 20px;  /* Set a larger font size for readability */
    padding-top: 70px;  /* Adjust padding to avoid overlapping with fixed navbar */
    background-color: #f7f7f7;  /* Light background for better contrast */
}

/* Style for the main heading */
h1 {
    font-size: 50px;  /* Larger font size for the main heading */
    color: #333;  /* Dark color for better contrast */
    text-align: center;  /* Center the heading */
    margin-bottom: 20px;  /* Add space below the heading */
}

/* Styles for the category list */
ul {
    list-style-type: none;  /* Remove default list bullets */
    margin: 0;
    padding: 0;
}

/* Styles for each category item */
li {
    padding: 15px;  /* Add padding around each category item */
    border-bottom: 1px solid #ddd;  /* Light border to separate items */
}

/* Styling for category names */
span {
    font-size: 24px;  /* Larger font size for category names */
    cursor: pointer;  /* Indicate that these are clickable */
    color: #555;  /* Use a moderate color for the category text */
    transition: color 0.3s;  /* Smooth transition for hover effects */
}

/* Hover effect for category names */
span:hover {
    color: #0011fa;  /* Darker color on hover */
}

/* Styling for additional information (collapsed by default) */
div[id^="category-"] {
    display: none;  /* Initially hidden */
    font-size: 18px;  /* Slightly smaller font size for details */
    margin-left: 20px;  /* Indentation for visual separation */
}

/* custom-button-styles.css */

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn-secondary {
    color: #fff;
    background-color: #fd0d0d;
    border-color: #fd0d0d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #c80808;
    border-color: #b70a0a;
}

.ml-3{
    margin-left:1rem!important
}